ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .pokemon-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    background-color: rgb(60, 153, 196);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(85, 3, 3, 0.1);
  
    ion-card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #000000;
    }
  
    img {
      max-width: 100%;
      border: 2px solid #000000;
      border-radius: 5px;
    }
  }
  
  ion-button {
    margin-top: 20px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }