<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{details?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="pokemon-card">
    <ion-card-content>
      <div class="pokemon-detalle">
        <img class="pokemon-image" src="https://i.pinimg.com/originals/8c/cf/26/8ccf2679378a0eedef2d2369739ce4be.jpg" alt="Pokemon">
        <p>Nombre: Proximamente con pokeapi</p>
        <p>Tipo: Proximamente con pokeapi</p>
        <p>Altura: Proximamente con pokeapi</p>
        <p>Peso: Proximamente con pokeapi</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>